// color
$clr-white: #FFFFFF;
$clr-grey: #FF0063;
$clr-pink: #ff28d4;
$clr-main: #323232;
$clr-main2: #212121 ;
$clr-black: #161616;
// color
// shadow
$shadow-default: 0 7px 25px rgba($clr-main2, .8);
// shadow
// transition
$transition-default: all 200ms linear;
// transition
// aside
$aside-width: 300px;
$aside-padding: 55px;
// aside
//container
$container-width: 1400px;
$container-padding: 10px;
// container