// color
$light-primary-color: #ffffff ;
$light-secondary-color: #0a3b4c;
$light-background-color: #e25359;
$light-text-color: #6ea3a7;

$dark-primary-color: #282a36;
$dark-secondary-color: #44475a;
$dark-background-color: #ff79c6;
$dark-text-color: #ffffff;
// $light
// $dark

// $light-primary-color: #FFFFFF;
// $light-secondary-color: #FF0063;
// $clr-pink: #ff28d4;
// $light-secondary-color: #323232;
// $$light-secondary-color: #212121 ;
// $clr-black: #161616;

// color
// shadow
$light-shadow-default: 0 7px 25px rgba($light-secondary-color, .8);
$dark-shadow-default: 0 7px 25px rgba($dark-secondary-color, .8);
// shadow
// transition
$transition-default: all 200ms linear;
// transition
// aside
$aside-width: 300px;
$aside-padding: 55px;
// aside
//container
$container-width: 1400px;
$container-padding: 10px;
// container