@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  stroke: $light-secondary-color;
  transition: $transition-default;
}
.bg-black *, *::after, *::before {
  stroke: $dark-secondary-color;
}
*::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
  background-color: $light-background-color;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $light-primary-color;
}
.bg-black *::-webkit-scrollbar-track {
  box-shadow: $dark-shadow-default;
  background-color: $dark-background-color;
}
*::-webkit-scrollbar-track {
  box-shadow: $light-shadow-default;
  background-color: $light-background-color;
}
.bg-black * {
  stroke: $dark-background-color;
  transition: $transition-default;
}
html, body {
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  overflow-y: auto;
  min-height: 100vh;
  background-color: $light-primary-color;
  color: $light-text-color;
}
.bg-black {
  background-color: $dark-primary-color;
  color: $dark-text-color;
}
ul, ol, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  position: relative;
  width: 100%;
}
.title {
  font-size: 1.5625rem;
  line-height: 1.125rem;
}
@media screen and (max-width: 850px) {
  html {
    font-size: 13px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: $transition-default;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(-25px);
}